* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*region INDEX*/
body {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

#index_background {
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;  
  z-index: -1;
}

.index_header {
  width: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
}

.index_main {
  width: 100%;
  gap: 4%; 
  flex: 1;
  display: flex;
  flex-direction: column; 
  align-items: end; 
  justify-content: center;
}

.index_footer {
  width: 100%;
  height: 10%;  
}

#account_button {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/account_0_icon.png");
  background-size: cover;
  background-position: center;
}

#audio_button {
  width: 12%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/mute_icon.png");
  background-size: cover;
  background-position: center;
}

#info_button,
#forum_button {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 5%;
  border: none;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

#info_button {
  background-image: url("../assets/icons/info_icon.png");
}

#forum_button {
  background-image: url("../assets/icons/forum_icon.png");
}
/*endregion*/


.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);    
}

/*region INFO*/
.info_background {
  width: 95%;
  height: 80%;
  padding: 8% 5% 20% 5%;
  display: flex;
  flex-direction: column; 
  background-image: url('../assets/ui/paper_modal.png');
  background-size: 100% 100%;
  background-position: center;
}

.navigation_buttons {
    position: absolute;        /* sopra tutto */
    top: 50%;                  /* centro verticale */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* pulsante a sinistra e a destra */
    transform: translateY(-50%);    /* centraggio verticale preciso */
    pointer-events: none;      /* lascia cliccare gli elementi sotto se necessario */
}

.navigation_buttons button {
    pointer-events: auto;      /* rendi cliccabili i pulsanti */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
}

#previous_button{
  background-image: url("../assets/icons/previous_button.png");
}

#next_button{
  background-image: url("../assets/icons/next_button.png");
}

.info_header{
  width: 100%;
  height: 10%;
  position: relative;
}

.info_main{
  width: 100%;
  max-height: 90%;
  padding: 0% 10%;
  flex: 1;   
  overflow-y: auto;
}

#info_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: #a95e13;
    font-family: 'InferenceSansFont';
    font-weight: bold;
}

#info_close_button {
    width: 8%;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../assets/icons/close_icon.png');
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}

#info_text {
    color: #a95e13;
    font-family: 'InferenceSansFont';
    font-size: 120%;  
    text-align: justify;
}
/*endregion*/

/*region FORUM*/
.forum_background {
  width: 95%;
  height: 80%;
  padding: 8% 5% 8% 14%;
  display: flex;
  flex-direction: column; 
  background-image: url('../assets/ui/paper_modal.png');
  background-size: 100% 100%;
  background-position: center;
  
}

.forum_header{
  width: 100%;
  height: 10%;
  position: relative;
  
}

#forum_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* centra orizzontalmente */
    bottom: 0;
    color: #a95e13;
    font-family: 'InferenceSansFont';
    font-weight: bold;
}

#forum_close_button {
    width: 8%;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../assets/icons/close_icon.png');
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}

.forum_main{
  max-height: 90%;
  width: 100%;
  /*padding: 2% 2% 10% 10%;*/
  flex: 1;   
  display: flex;
  align-items: flex-start;             
  flex-direction: row;  
         
}

.forum_text {
  max-height: 90%;
  flex: 1; 
  overflow-y: auto;  
  
}

.forum_buttons {
  height: 80%;
  width: 20%;  
  display: flex;
  flex-direction: column;  
  align-items: center; 
  gap: 2%;
  
}

#forum_movies_button{
  width: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/movies_icon.png");
  background-size: cover;
  background-position: center;
}

#forum_books_button{
  width: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/books_icon.png");
  background-size: cover;
  background-position: center;
}

#forum_recipes_button{
  width: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/recipes_icon.png");
  background-size: cover;
  background-position: center;
}



#forum_text {
    color: #a95e13;
    font-family: 'InferenceSansFont';
    font-size: 120%;
     white-space: pre-line;
}

@font-face {
    font-family: 'InferenceSansFont';                  
    src: url('../assets/font/InferenceSansFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}