* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  background-image: url("../assets/gifs/background.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  /*background-color: aqua;*/
}
.main {
  width: 100%;
  /*background-color: rgb(255, 0, 85);*/
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: end; 
  gap: 4%; 
}
.footer {
  width: 100%;
  height: 10%;  
  /*background-color: rgb(55, 0, 255);*/
}

.accountIcon {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: none;
  background-image: url("../assets/icons/account_0_icon.png");
  background-size: cover;
  background-position: center;
}

.infoIcon,
.forumIcon {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 5%;
  border: none;
  background-image: url("../assets/icons/account_0_icon.png");
  background-size: cover;
  background-position: center;
  margin: 0; /* togli margini percentuali */
}



/*

.btn {
  padding: 14px 18px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}


.top-left {
  position: absolute;
  top: 16px;
  left: 16px;
}


.right-buttons {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
*/